img {
    height: 20%;
    width: 20%;
}

.card-grid-item {

}

.grid-container {
    margin: auto;
    width: 75%;
}

.tagLine {
    float: left;
}

#profPhoto {
    padding-right: 10px;
}

.striped {
    padding-top: 20px;
}

.workDesc{
    float: left; 
}